.header {
    width: 100%;
    height: 100%;
    padding: 0px;
    /* Replace with your image path */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-size: cover;
    /* Stretches the image to cover the entire container */
    /* Add a specific height so the image is visible */
}

body {
    width: 100%;
    height: 100%;
    background-image: url("images/homepagebg.jpg");
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #1f06ff;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}
    */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #04AA6D;
    color: white;
}

/* Add style for the clock */

.container{
    display: flex;
    justify-content: center;

    height: 25%;
    width: 100%;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 40%;



    border: 4px solid white;
    bottom: 500px;
    left: 1000px;
    background-color: blue;
    color: white;
    padding: 20px 50px;
    border-radius: 15px;
    font-size: 75px;
    font-family: monospace;
    z-index: 1000;
}

.bg-sidenav {
    background-color: #3F6B90
}

.nav-link {
    color: #D9E4EE
}

.nav-link:hover {
    color: #CCCCCC;
}

main {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}