.header{
    padding:0px;
}

.bg-sidenav{
    background-color: #3F6B90
}

.nav-link {
    color: #D9E4EE
}

.nav-link:hover {
    color: #CCCCCC;
}

main{
    background-color: #FDFFFE
}

body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}